    input{
        border-color: rgb(151, 150, 150)(128, 128, 128, 0.872);
        height: 30px;
        border-width:1px;
        border-style: solid;
        border-radius: 6px;
        padding-left:10px

    }

.email{
    display: block;
    margin-top: 11px;
    width: 344px;
    margin-bottom: 11px;
}
.sign-up{
    display:block;
    margin-top: 12px;
    width: 359px;
    height: 40px;
    border-radius: 6px;
    border-color: transparent;
    background-color: rgba(83, 138, 249, 0.927);
    color: white;
    transition: background-color 0.09s;
}
.sign-up:hover{
    cursor: pointer;
    opacity: 0.95;
}
.sign-up:active{
    background-color:rgba(54, 98, 186, 0.927);
}